@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* use in homePage */
.homepage_bg {
  background: url('./assets/Images/bghome.svg');
}

.gradient_color {
  background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%),
    linear-gradient(0deg, #F1F2FF, #F1F2FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #767986f5;
}

/* loading spinner  */
.custom-loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(#0000 15%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 0.6s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn)
  }
}

input,
select,
textarea {
  @apply bg-white border text-sm border-richblack-800;
}

input::placeholder,
textarea::placeholder {
  @apply text-[#7ddfff];
}

.label-style {
  @apply text-[14px] text-white;
}

.form-style {
  @apply rounded-lg bg-white p-3 text-[16px] leading-[24px] text-black placeholder:text-black border border-richblack-800 focus:outline-richblack-100;
}

.section_heading {
  @apply text-2xl font-bold text-black lg:text-4xl;
}

/* Buttons */
.yellowButton {
  @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblue-900 hover:bg-black hover:text-yellow-50 duration-300;
}

.blackButton {
  @apply cursor-pointer rounded-md bg-black px-[20px] py-[8px] font-semibold text-black hover:bg-richwhite-5 hover:text-black duration-300;
}


@layer utilities {
  input {
      @apply bg-white text-black;
  }

  textarea {
      @apply bg-white text-black;
  }

  select {
      @apply bg-white text-black;
  }
}



/* Loading skeleton */
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  background-color: rgb(44 51 63 / 1);
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(111, 119, 131, 0) 0,
      rgba(143, 132, 132, 0) 20%,
      rgba(126, 139, 151, 0.5) 60%,
      rgba(25, 55, 99, 0));
  animation: shimmer 0.9s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* used in Navbar */
.top {
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.show {
  background-color: #020c1b;
}

.hide {
  transform: translateY(-60px);
}

.glass-bg {
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.84);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* used in code block component for background  */
.code-block1-grad {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px/2 - 16.53px);
  top: calc(50% - 257.05px/2 - 17.47px);
  background: linear-gradient(123.77deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.logo-container {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* code block 2 bg gradient */
.code-block2-grad {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px/2 - 26.53px);
  top: calc(50% - 257.05px/2 - 17.47px);
  background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

/* code block card glass background */
.glass {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.code-border {
  background: linear-gradient(111.93deg,
      rgba(14, 26, 45, 0.24) -1.4%,
      rgba(17, 30, 50, 0.38) 104.96%)
}


.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shadow2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

.shadow1{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.opacity_layer_bg {
  background: linear-gradient(180deg, rgba(133, 134, 135, 0) 0%, #ffffff 99.99%);
}

.opacity_layer_bg2 {
  background: linear-gradient(360deg, rgba(133, 134, 135, 0) 0%, #ffffff 99.99%);
}

.opacity_layer_bg3 {

  background: rgb(44, 31, 11);
  background: linear-gradient(180deg, rgba(44, 31, 11, .1) 0%, rgba(255, 255, 255, 1) 100%);
}
.bg2 {
  background: rgb(156, 106, 5);
background: linear-gradient(270deg, rgba(250, 127, 4, 0.858) 0%, rgb(236, 235, 232) 100%);
  border-radius: 0% 5% 5% 0%;
}

.bg3 {
  background: rgb(156, 106, 5);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.858) 0%, rgb(132, 131, 131) 100%);
}

.transform1 {
  transform: rotate(-30deg)
}



/* CSS */
.button-36 {
  padding: 9px 23px;
  padding-bottom: 15px;
  border: 0;
  font-size: 16px;
  transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;

  border-radius: 20px;

  color: #071432;
  font-weight: bold;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0, inset 0px -6px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.button-36:hover {
  filter: brightness(0.98);
  transform: scale(1.0);
}

.button-36:active {
  filter: brightness(0.97);
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 6px 0, inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}



.bg {
	background: linear-gradient(-45deg, #1b38f2, #3cb1e7, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}


/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}




/* Navbar CSS */
.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hoverable:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.hoverable:hover:before,
.hoverable:focus:before,
.hoverable:active:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hoverable:hover, .hoverable:active, .hoverable:focus {
  transform: translateY(-5px);
}

@keyframes bounce-animation {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

@media (min-width: 768px) {
  .navbar {
    text-align: center !important;
    float: none;
    display: inline-block;
  }
}


nav li a {
  transition: 0.5s color ease-in-out;
}

.page-title {
  opacity: 0.75 !important;
}


 .bg-course-details {
  background-image: url('./assets/Images/Img_b&w.jpg'); /* Update the path as necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

 .bg-course-details1 {
  background-image: url('./assets/Images/new7.jpg'); /* Update the path as necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-course-details2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),  /* Adjust the opacity (0.5 for 50% opacity) */
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/Images/astro_images/i.jpg'); /* Update the path as necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-course-details3 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),  /* Adjust the opacity (0.5 for 50% opacity) */
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/Images/astro_images/black1.jpg'); /* Update the path as necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* form css */

.login-box {
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  border: none;
  outline: none;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -25px;
  left: 0;
  color: #fff;
  font-size: 12px;
  padding: 1px;
}


.newform input::placeholder {
  color: black;
}

.newform textarea::placeholder {
  color: black;
}


.category-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.category-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.category-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0.5rem;
  pointer-events: none;
}

.category-card h3 {
  position: relative;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}
